body {
    background-color: ghostwhite;
    text-align: center;
}

header {
    text-align: center;
    margin: 50px 0 0 0;
}

input[type=text] {
    width: 50%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    border: 2px solid lightgray;
    border-radius: 4px;
}

input[type=text]:focus {
    border: 2px solid black;
}

input[type=submit] {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border: 2px solid gray;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightgray;
}

tr, td {
    padding: 15px;
    text-align: center;
}

.title {
    font-weight: bold;
    font-family: "Montserrat", Helvetica, sans-serif;
}

tr.headrow{
    background-color: lightslategrey;
    color: white;
    font-weight: 400;
}

tr.bodyrow {
    font-weight: 400;
}

tr.bodyrow:hover {
    background-color: lightgray;
}

.top {
    text-align: center;
    vertical-align: text-top;
}

.left {
    padding: 0 50px 0 50px;
    text-align: center;
    vertical-align: text-top;
    font-family: "Montserrat", Helvetica, sans-serif;
}

.right {
    padding: 0 50px 0 50px;
    text-align: center;
    vertical-align: text-top;
    font-family: "Montserrat", Helvetica, sans-serif;
}
