body {
    background-color: ghostwhite;
    text-align: center;
    font-family: "Montserrat", Helvetica, sans-serif;
}

header {
    text-align: center;
    margin: 50px 0 0 0;
}

p {
    font-family: "Montserrat", Helvetica, sans-serif;
}

input[type=text] {
    width: 50%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    border: 2px solid lightgray;
    border-radius: 4px;
}

input[type=text]:focus {
    border: 2px solid black;
}

input[type=submit] {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border: 2px solid gray;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightgray;
}
