header {
    background-color: ghostwhite;
    overflow: hidden;
    min-width: 850px;
    font-family: "Montserrat", Helvetica, sans-serif;
}

header div {
    display: inline-block;
}

body {
    background-color: white;
    margin: 0;
}

input[type=text] {
    width: 500px;
    padding: 5px 0 5px 5px;
    border: 1px solid lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=text]:focus {
    border: 1px solid gray;
}

input[type=submit] {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: bold;
    background-color: white;
    color: gray;
    background-color: gainsboro;
    border: none;
    cursor: pointer;
    margin: 20px 0 0 0;
    padding: 5px;
}

input[type=submit]:hover {
    border: 1px gray;
    color: black;
}

#logo {
    margin: 5px;
    vertical-align: top;
}

#search {
    margin: 5px 0 0 5px;
}

#log {
    margin: 5px 10px 0 0;
    vertical-align: top;
    text-align: right;
    right: 0;
    position: absolute;
}

#userinfo {
    font-size: 12px;
}

#urls {
    font-family: "Montserrat", Helvetica, sans-serif;
    margin: 0 0 0 50px;
}

.urls {
    display: inline-block;
    max-width: 60%;
}

#history {
    display: inline-block;
    vertical-align: top;
    max-width: 40%;
    float: right;
}

#math {
    border: 1px solid gainsboro;
    padding: 15px;
    margin: 20px 0 20px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
    padding: 0 0 0 50px;
    font-family: "Montserrat", Helvetica, sans-serif;
}

td.title {
    padding: 0 0 5px 0;
}

td.description {
    padding: 0 0 20px 0;
    font-size: 12px;
}

#history {
    margin: 0 100px 0 0;
    font-family: "Montserrat", Helvetica, sans-serif;
}

.pagination {
    clear: left;
    position:absolute;
    width:100px;
    height:50px;
    bottom:50px;
    right:50%;
    left:50%;
}

.pagination button {
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 4px;
    border: 2px solid darkgray;
    font-color: black;
    font-weight: bold;
    font-size: 20px;
    background-color: ghostwhite;
}

.pagination button:hover {
    border: 2px solid dimgray;
    background-color: lightslategray;
}

#searchhistory {
    display: none;
    border-left:1px solid gainsboro;
    border-right:1px solid gainsboro;
    border-bottom:1px solid gainsboro;
    width: 500px;
    padding: 5px 0 5px 5px;
    background-color: white;
    margin: 0 0 10px 0;
}

input[type=text]:focus ~ #searchhistory {
    display: block;
}

#searchhistory:hover {
    display: block;
}

ul {
    padding:0;
    margin:0;
    list-style-type:none;
}

li {
    padding:3px;
    margin:0;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color:#551A8B;
}

a {
    text-decoration: none;
}

li:hover{
    background-color:#F2F2F2;
}
